/* --Aplicação nos elementos */
#page-create-pointer{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-create-pointer header{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-pointer header a{
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#page-create-pointer header a span{
    margin-right: 16px;
    background-image: url('./assets/arrow-left.svg');
    display: flex;
    width: 20px;
    height: 24px;
}
/* --Aplicação nos elementos do formulário */
#page-create-pointer form{
    margin-left: 200px;
    max-width: 730px;
    margin-top: 60px;
    background-color: white;
    padding: 64px;
    border-radius: 8px;
}

#page-create-pointer form fieldset{
    margin-top: 64px;
}

#page-create-pointer form legend{
    margin-bottom: 40px;
}

#page-create-pointer form legend h2{
    font-size: 24px;
}

#page-create-pointer form .field{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

#page-create-pointer form .field-group{
    display: flex;
}

#page-create-pointer form input{
    background-color: var(--background-color);
    font-size: 16px;
    border-radius: 8px;
    padding: 16px 60px;
}

#page-create-pointer form select{
    background-color: var(--background-color);
    padding: 16px 64px;
    font-size: 16px;
    border-radius: 8px;
}

/* --Tirar o efeito primário de select dos navegadores */
#page-create-pointer form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#page-create-pointer form label{
    font-size:  14px;
    margin-bottom: 8px;
}

#page-create-pointer form .field-group .field + .field{
    margin-left: 24px;
}

#page-create-pointer form button{
    width: 300px;
    height: 54px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    transition: background-color 400ms;
}

#page-create-pointer form button:hover{
    background-color: #2fb86e;
}