/* --Imports-- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Ubuntu:wght@700&display=swap');

/* --Variaveis de cor */
:root{
    --title-color: #322153;
    --primary-color: #34cd79;
}

/* --Aplicação de forma global */
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;

}

h1, h2, h3,h4,h5{
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

body{
    background-color: #f0f0f5;
}

/* --Aplicação nos elementos */

#page-home{
    height: 100vh;
    background: url('../public/assets/home-background.svg') no-repeat;
    background-position: 35vw bottom;
}

#page-home .content{
    width: 90%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#page-home header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-home header a{
    display: flex;
    color: var(--title-color);
    font-weight: 700;
}

#page-home header a:hover{
    color: rgba(119, 10, 114, 0.884);
}

#page-home header a span{
    margin-right: 16px;
    display: flex;
    background-image: url('../public/assets/log-in.svg');
    width: 20px;
    height: 20px;
}

#page-home main{
    max-width: 560px;
    height: 600px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#page-home main h1{
    font-size: 54px;
}

#page-home main p{
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
    color: rgba(0, 0, 0, 0.747);
}

#page-home main a{
    width: 100%;
    max-width: 360px;
    height: 72px;

    border-radius: 8px;

    display: flex;
    align-items: center;

    margin-top: 40px;

    background: var(--primary-color);

    transition: 400ms;

    font-weight: bold;
    color: white;
}

#page-home main a:hover{
    background-color: #1eb964;
}

#page-home main a span{
    width: 72px;
    height: 72px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-home main a span::after{
    content: '';
    background-image: url('../public/assets/search.svg');

    width: 20px;
    height: 20px;
}

#page-home main a strong{
    flex: 1;
    color: white;
    text-align: center;
}

/* --Configurando responsividade Smartphone */
@media(max-width: 900px){
    #page-home{
        background-position: 90vw;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home header a{
        position: absolute;
        bottom: 30px;
    }

    #page-home main{
        align-items: center;
    }
}

/* --Configurando responsividade Tablet */
@media(max-width:1024px){
    #page-home{
        width: 100vw;
        height: 120vh;
        background-position: 25vw;
    }

    #page-home main{
        max-width: 460px;
        height: 100px;
        flex: 0.75;
    }

    #page-home main p{
        max-width: 360px;
        font-size: 16px;
        line-height: 28px;
        margin-top: 15px;
    }

    #page-home main h1{
        font-size: 35px;
    }

    #page-home main a{
        max-width: 300px;
        height: 52px;
        margin-top: 20px;
    }

    #page-home main a span{
        width: 72px;
        height: 52px;
    }
}

/* --Configurando responsividade Notebook */
@media(max-width:1440px){
    #page-home{
        height: 120vh;
        background-position: 40vw;
    }

    #page-home .content{
        margin-top: 30px;
    }

    #page-home main{
        max-width: 560px;
        height: 100px;
        flex: 0.75;
    }

    #page-home main h1{
        font-size: 40px;
    }

    #page-home main p{
        font-size: 18px;
        line-height: 28px;
        margin-top: 15px;
    }

    #page-home main a{
        max-width: 340px;
        height: 62px;
        margin-top: 20px;
    }

    #page-home main a span{
        width: 72px;
        height: 62px;
    }
}

